@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    width: 100%;
   min-height: 100vh;
    overflow-x: hidden;
    overflow-y:auto;
    background: #050505;

    transition:
        background 0.6s ease,
        color 0.6s ease;

    background-attachment: fixed;
}





nav{
    width: 100%;;
    position: sticky;
    top:0;
    z-index: 999;
}


.nav-container{
    width: 92%;
    max-width: 1300px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    border-radius: 999px;

    margin: 20px auto;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 
        0 8px 32px rgba(0,0,0,0.25),
        0 0 20px rgba(0,229,225,0.12),
        inset 0 1px 1px rgba(255,255,255,0.15);

}

.nav-container::before{
    content: "";
    position: absolute;
    inset: 5px;

    border-radius: 999px;
    border: 1px solid rgba(255,255,255,0.05);

    pointer-events: none;
}


.logo{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.logo span{
    color: #ffffff;
    text-shadow: none;
}

.logo span:hover{
    color: #00E5FF;
    text-shadow: 0 0 15px #00E5FF;
}

.logo{
    font-family: 'Space Grotesk', sans-serif;
}

.hamburg, .cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    font-size: 2rem;
    display: none;
}

.nav-container .links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #00E5FF;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .contact-btn{
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #00E5FF;
    transition: 0.2s linear;
}

.nav-container .contact-btn a{
    color: white;
    transition: 0.3s linear;
}

.nav-container .contact-btn:hover, .nav-container .contact-btn:hover a{
    background-color: #00E5FF;
    color: white;
}

.nav-container .links a:hover{
    color: #00E5FF;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: #00E5FF;
}

section{
    width: 100%;
   min-height: 90vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .image{
    z-index: -1;
    width: 50%;
}

.main-container .image img{
    width: 100%;
    filter: drop-shadow(0 0 25px rgba(0,229,225,0.35));
}

.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}

.content h1 span{
    color: #00E5FF;
    text-shadow: 0 0 10px #00E5FF;
}

.content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw, 2rem);
}

.content .typewriter span{
    color: #00E5FF;
    font-size: 2.5rem;
    text-shadow: 0 0 5px #00E5FF;
    position: relative;
    transition: 0.3s linear;
}

.typewriter span::before{
    content: "Frontend Developer";
    animation: words 15s infinite;
}

.typewriter span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #00E5FF;
    animation:  cursor 0.6s linear infinite;
}

@keyframes cursor {
    to{
        border-left: 3px solid #00E5FF;
    }
}

@keyframes words {
    0%, 33%{
        content: "Frontend Developer";
    }
    34%, 66%{
        content: "UI/UX Designer";
    }
    67%, 100%{
        content: "Freelancer";
    }
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color:transparent;
    border: 0.2rem solid #00E5FF;
    border-radius: 50%;
    color:#00E5FF;
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: white;
    background-color: #00E5FF;
    filter: drop-shadow(0 0 10px #00E5FF);
}

.content button{
    width: 40%;
    height: 6vh;
    margin: 30px;
    background-color: #00E5FF;
    color: white;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover{
 scale: 1.1;
 color: #00E5FF;
 border: 2px solid #00E5FF;
 background-color: transparent;
 font-weight: 700;
 box-shadow: 0 0 40px #00E5FF;
}

@media (max-width:884px) {
    body{
        overflow-y: visible;
    }

    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container{
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,.cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }

    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .cancel{
        color: white;
    }

    .main-container .image{
        width: 80%;
        margin-bottom: 0px;
    }
}
#about,
#contact{
    width: 100%;
    min-height: 100vh;
    padding: 80px 10%;
}

.about-container,
.contact-container{
    max-width: 900px;
    margin: auto;
}

.about-container h1,
.contact-container h1{
    font-size: 2.5rem;
    color: #00E5FF;
    margin-bottom: 20px;
}

.about-container p{
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

.contact-container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.contact-container input,
.contact-container textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}

.contact-container button{
    width: 200px;
    padding: 12px;
    background:  #00E5FF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.about-container{
    max-width: 900px;
    margin: auto;
    padding: 40px;
    border-radius: 25px;

    background: rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);
    border: 1px solid rgba(255,255,255,0.3);



    box-shadow:
        0 20px 50px rgba(0,229,225,0.15),
        0 0 20px rgba(0,229,225,0.1);

    transition: all 0.4s ease;
}

.about-container:hover{
    transform: translateY(-10px) scale(1.02);

    box-shadow:
        0 20px 50px rgba(0,229,225,0.25),
        0 0 40px rgba(0,229,225,0.4);

    border-color:  #00E5FF;
}

.about-container h1{
    color:  #00E5FF;
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.about-container p{
    color: rgba(255,255,255,0.9);
    line-height: 1.8;
    font-size: 1.1rem;
}



.skills-container h1{
    font-size: 2.8rem;
    color:  #00E5FF;
    margin-bottom: 40px;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 25px;
}

.skill-card{
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.3);

    padding: 30px;
    border-radius: 20px;

    box-shadow: 0 10px 25px rgba(0,229,225,0.15);

    transition: 0.4s ease;
}

.skill-card:hover{
    transform: translateY(-10px) scale(1.05);

    box-shadow:
        0 20px 40px rgba(0,229,255,0.3),
        0 0 30px rgba(0,229,255,0.5);
}

.skill-card i{
    font-size: 4rem;
    color:  #00E5FF;
    margin-bottom: 15px;
}

.skill-card h3{
    color: white;
    font-size: 1.3rem;
}

.skill-percent{
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color:  #00E5FF;
}

.skill-card:hover .skill-percent{
    opacity: 1;
    transform: translateY(0px);
}





@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.about-container{
    animation: float 4s ease-in-out infinite;
}





.nav-container:hover{
    box-shadow:
        0 0 20px #00E5FF,
        0 0 40px rgba(0,229,225,0.50);
}
.about-container,
.skill-card,
.contact-container{
    box-shadow:
        0 0 20px rgba(0,229,255,0.15);
}
.hero-content{
    width: 70%;
    text-align: center;
    margin:auto;
}

.hero-tag{
    color: #00E5FF;
    font-size: 0.9rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 600;
}

.hero-content h1{
    font-size: clamp(3rem, 7vw, 6rem);
    line-height: 1.1;
    color: white;
    margin-bottom: 20px;
}

.hero-desc{
    max-width: 650px;
    font-size: 1.1rem;
    line-height: 1.8;
    color: rgba(255,255,255,0.75);
    margin-bottom: 30px;
}

.hero-btn{
    display: inline-block;
    padding: 15px 35px;

    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 50px;

    color: white;
    text-decoration: none;
    font-weight: 600;

    box-shadow:
        0 0 15px rgba(0,229,255,0.15);

    transition: 0.4s ease;
}

.hero-btn:hover{
    transform: translateY(-5px);

    border-color: #00E5FF;

    box-shadow:
        0 0 25px rgba(0,229,255,0.4),
        0 0 50px rgba(0,229,255,0.2);

    color: #00E5FF;
}
#education{
    padding: 100px 10%;
}

.education-container h1{
    text-align: center;
    font-size: 2.8rem;
    color: #00E5FF;
    margin-bottom: 50px;
}

.education-timeline{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.education-card{
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 25px;

    padding: 35px;

    box-shadow:
        0 0 20px rgba(0,229,255,0.1);

    transition: 0.4s ease;
}

.education-card:hover{
    transform: translateY(-8px);

    box-shadow:
        0 0 35px rgba(0,229,255,0.3);
}

.edu-year{
    color: #00E5FF;
    font-size: 0.95rem;
    letter-spacing: 3px;
}

.education-card h2{
    color: white;
    margin-top: 12px;
    margin-bottom: 10px;
}

.education-card h4{
    color: rgba(255,255,255,0.6);
    margin-bottom: 20px;
    font-weight: 400;
}

.education-card p{
    color: rgba(255,255,255,0.85);
    line-height: 1.8;
}
.highlight-name{
    color: #00E5FF;
    font-weight: 700;
    text-shadow: 0 0 15px rgba(0,229,255,0.8);
}
.about-role{
    color: rgba(255,255,255,0.7);
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.contact-subtitle{
    color: rgba(255,255,255,0.7);
    font-size: 1rem;
    margin-bottom: 25px;
    line-height: 1.7;
}
.quote-section{
    padding: 20px 10%;
}

.quote-card{
    max-width: 900px;
    margin: auto;

    padding: 30px;
    border-radius: 25px;

    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.15);

    text-align: center;
}

.quote-card p{
    color: white;
    font-size: 1.3rem;
    font-style: italic;
    line-height: 1.8;
}

.contact-link{
    color: #00E5FF;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact-link:hover{
    text-shadow: 0 0 12px #00E5FF;
}

.contact-location{
    color: #00E5FF;
    font-weight: 500;
}
.footer{
    text-align:center;
    padding:30px;
    margin-top:50px;
}

.footer p{
    color:rgba(255,255,255,0.6);
    font-size:0.95rem;
}

.footer span{
    color:#00E5FF;
    font-weight:600;
}
#projects{
    padding: 100px 10%;
}

.projects-container h1{
    text-align: center;
    color: #00E5FF;
    font-size: 2.8rem;
    margin-bottom: 50px;
}

.project-card{
    max-width: 900px;
    margin: auto;

    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 25px;

    padding: 35px;

    box-shadow: 0 0 20px rgba(0,229,255,0.15);

    transition: 0.4s ease;
}

.project-card:hover{
    transform: translateY(-8px);

    box-shadow:
        0 0 35px rgba(0,229,255,0.3);
}

.project-card h2{
    color: white;
    margin-bottom: 15px;
}

.project-card p{
    color: rgba(255,255,255,0.8);
    line-height: 1.8;
    margin-bottom: 25px;
}

.project-btn{
    display: inline-block;

    padding: 12px 25px;

    background: #00E5FF;
    color: black;

    text-decoration: none;
    font-weight: 600;

    border-radius: 30px;
}